Ans1-import pandas as pd

# 1. Read a CSV file into a DataFrame
df = pd.read_csv('example.csv')

# 2. Display the first few rows of the DataFrame
print(df.head())

# 3. Calculate the mean of a specific column
mean_value = df['column_name'].mean()
print(mean_value)

# 4. Filter rows based on a condition
filtered_df = df[df['column_name'] > 50]

# 5. Group data by a column and calculate the sum
grouped_data = df.groupby('group_column')['numeric_column'].sum()
print(grouped_data)

In [9]:
# Ans2-
import pandas as pd
data={
    'A':[1,2,3],
    'B':[4,5,6],
    'C':[7,8,9]
}
df1=pd.DataFrame(data)
df1

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [14]:
def reindex_with_increment(df1):
    df1.index = range(1, 2 * len(df1) + 1, 2)
    return df1

# Assuming df is your DataFrame with columns 'A', 'B', 'C'
# Call the function to re-index the DataFrame
df = reindex_with_increment(df1)

In [15]:
df

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

In [16]:
#Ans3-
import pandas as pd

# Create a DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df

   Values
0      10
1      20
2      30
3      40
4      50

In [17]:
# Function to calculate the sum of the first three values in the 'Values' column
def calculate_sum_of_first_three(df):
    values_column = df['Values']
    print(values_column)
    sum_first_three = values_column.head(3).sum()
    print("Sum of the first three values:", sum_first_three)

# Call the function with the created DataFrame
calculate_sum_of_first_three(df)

0    10
1    20
2    30
3    40
4    50
Name: Values, dtype: int64
Sum of the first three values: 60

In [23]:
# Ans4-
import pandas as pd

# Create a DataFrame
data = {'Text': ['This is a sample sentence.',
                 'Another example with more words.',
                 'Short text.']}
df = pd.DataFrame(data)
df

                               Text
0        This is a sample sentence.
1  Another example with more words.
2                       Short text.

In [24]:
# Function to add the 'Word_Count' column
def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

# Call the function to add the 'Word_Count' column
df = add_word_count_column(df)

# Display the DataFrame
df

                               Text  Word_Count
0        This is a sample sentence.           5
1  Another example with more words.           5
2                       Short text.           2

Ans5-DataFrame.size gives you the total number of elements in the DataFrame, while DataFrame.shape provides the dimensions (number of rows and columns) as a tuple.

Ans6-pd.read_excel(): these function read the excel files.

In [44]:
# Ans7-
import pandas as pd

# Create a DataFrame
data = {'Email': ['user1@example.com', 'user2@example.com', 'user3@example.com']}
df = pd.DataFrame(data)
df

               Email
0  user1@example.com
1  user2@example.com
2  user3@example.com

In [45]:
# Function to extract usernames and create a new 'Username' column
def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]

# Call the function to add the 'Username' column
extract_username(df)

# Display the DataFrame
df

               Email Username
0  user1@example.com    user1
1  user2@example.com    user2
2  user3@example.com    user3

In [42]:
# Ans7-
import pandas as pd

# Create a DataFrame
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 8]}
df = pd.DataFrame(data)
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  8

In [28]:
# Function to select rows based on conditions
def select_rows(df):
    selected_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_df

# Call the function to get the selected rows
result_df = select_rows(df)

# Display the result DataFrame
result_df

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  8